@tailwind base;

@tailwind components;

.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@tailwind utilities;

.max-h-half-screen {
    max-height: 50vh;
}

/* .w-48-per {
    width: 48%;
}

.w-32-per {
    width: 32%;
} */